@import "variable";
body {
	margin: 0;
}
.nav {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	background-color: #FFF;
	box-shadow: 0px 4px $neutral_black;
	top: 0;
	left: 0;
	position: fixed;
	align-items: center;
	a {
		text-decoration: none;
		color: $neutral_black;
	}
	div {
		flex-grow: 1;
		padding: 16px;
		font-size: 24px;
		font-family: "Arial";
		&:hover {
			box-shadow: 0px 4px $ted_red;
			transition-duration: .4s;
			transition-timing-function: ease-out;
		}
	}
}
.logo {
	position: absolute;
	top: 0;
	left: 0;
}
.body_center {
	margin-top: 72px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 64px;
	overflow: visible;
	min-height: 100%;
	h1 {
		font-family: "Merriweather", "Times new roman", "Georgia", serif;
		font-size: 40px;
		font-weight: 300;
		text-align: center;
	}
	p {
		font-family: "Arial", "Helvetica", sans-serif;
	}
}
.footer {
	width: 100%;
	overflow: auto;
	padding: 16px;
	box-sizing: border-box;
	background-color: $neutral_black;
	font-family: "Arial", "Helvetica", sans-serif;
	a {
		color: #FFF;
		text-decoration: none;
		margin: 0;
	}
	ul,p {
		margin: 0;
		color: #FFF;
	}
	.column {
		display: inline-block;
		float: left;
		width: 50%;
	}
	div {
		display: inline-block;
		width: 100%;
	}
}